@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot?#iefix') format("embedded-opentype"),
    url('../fonts/CeraPro-Light.woff2') format("woff2"),
    url('../fonts/CeraPro-Light.woff') format("woff"),
    url('../fonts/CeraPro-Light.ttf') format("truetype"),
    url('../fonts/CeraPro-Light.svg#CeraPro-Light') format("svg")
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/CeraPro-Regular.woff2') format("woff2"),
    url('../fonts/CeraPro-Regular.woff') format("woff"),
    url('../fonts/CeraPro-Regular.ttf') format("truetype"),
    url('../fonts/CeraPro-Regular.svg#CeraPro-Regular') format("svg")
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format("embedded-opentype"),
    url('../fonts/CeraPro-Medium.woff2') format("woff2"),
    url('../fonts/CeraPro-Medium.woff') format("woff"),
    url('../fonts/CeraPro-Medium.ttf') format("truetype"),
    url('../fonts/CeraPro-Medium.svg#CeraPro-Medium') format("svg")
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format("embedded-opentype"),
    url('../fonts/CeraPro-Bold.woff2') format("woff2"),
    url('../fonts/CeraPro-Bold.woff') format("woff"),
    url('../fonts/CeraPro-Bold.ttf') format("truetype"),
    url('../fonts/CeraPro-Bold.svg#CeraPro-Bold') format("svg")
}

@font-face {
    font-display: swap;
    font-family: ALS Alumna;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ALSAlumna-Regular.eot');
    src: url('../fonts/ALSAlumna-Regular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/ALSAlumna-Regular.woff2') format("woff2"),
    url('../fonts/ALSAlumna-Regular.woff') format("woff"),
    url('../fonts/ALSAlumna-Regular.ttf') format("truetype"),
    url('../fonts/ALSAlumna-Regular.svg#ALSAlumna-Regular') format("svg")
}

@font-face {
    font-display: swap;
    font-family: Quincy CF;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/QuincyCF-Regular.eot');
    src: url('../fonts/QuincyCF-Regular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/QuincyCF-Regular.woff2') format("woff2"),
    url('../fonts/QuincyCF-Regular.woff') format("woff"),
    url('../fonts/QuincyCF-Regular.ttf') format("truetype"),
    url('../fonts/QuincyCF-Regular.svg#QuincyCF-Regular') format("svg")
}

@font-face {
    font-display: swap;
    font-family: Quincy CF;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/QuincyCF-Light.eot');
    src: url('../fonts/QuincyCF-Light.eot?#iefix') format("embedded-opentype"),
    url('../fonts/QuincyCF-Light.woff2') format("woff2"),
    url('../fonts/QuincyCF-Light.woff') format("woff"),
    url('../fonts/QuincyCF-Light.ttf') format("truetype"),
    url('../fonts/QuincyCF-Light.svg#QuincyCF-Light') format("svg")
}

body {
    font-family: Cera Pro, Arial, Helvetica, sans-serif;
}

.fs-7 {
    font-size: 0.85rem!important;
}
